body{
    margin: 0px;
}

.navpanel{
    background-image: linear-gradient(#c1c1d0, #9393a2);
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.navheader{
    font-size: 400%;
}

.navbar{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}