body{
    background: #e6e6e6;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

a{
    color: #b10f0f;
    font-weight: 800;
    padding: 10px;
}

input[type=text]{
    width: 23vw;
}

form{
    background: white;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 20px;
    width: 40%
}

.navPanel{
    background: white;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 30px;
}

.navHeader{
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.navBar{
    display: inline-block;
    font-size: 125%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.floatTank{
    text-align: center;
    width: 60%;
    margin: auto;
}

.floatHeader{
    font-size: 160%;
}

#servicesArtistic{
    margin-bottom: 35px;
}

#servicesIndustrialDesign{
    margin-bottom: 35px;
}

#servicesInformationTechnology{
    margin-bottom: 35px;
}

#servicesWebDevelopmentAndDesign{
    margin-bottom: 35px;
}